<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <div v-if="books.length">
                <table>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>书籍名称</th>
                                <th>出版日期</th>
                                <th>价格</th>
                                <th>购买数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(book,index) in books">
                                <!-- 可以这样写但是不建议，这样不能很好的操作他们 -->
                                <!-- <td v-for="value in book">{{value}}</td> -->
                                <td>{{book.id}}</td>
                                <td>{{book.name}}</td>
                                <td>{{book.date}}</td>
                                <td>{{book.price | showPrice}}</td>
                                <td>
                                    <button v-on:click="decrement(index)" v-bind:disabled="book.count <= 1">-</button>
                                    {{book.count}}
                                    <button v-on:click="increment(index)">+</button>
                                </td>
                                <td> <button v-on:click="remove(index)">移除</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>总价格   {{totalPrice | showPrice}}</h2>
        </div>
        <div v-else>
            购物车为空
        </div>
    </div>
    <script src="../js/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>